<!DOCTYPE html>
<html>
<head>
    <title>AIGO棒球撲接展示</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
    <style>
        .bottom{ 
            /* margin-top: 100%;  */
            background-color: aquamarine;
            height: 100px; 
            flex-direction: row; 
            display: flex; 
            justify-content: center
        }
        
        img{
            display: block; margin: 0 auto;
        }
    </style>
</head>
<body>
<div ng-controller="demo_ctl">
    <div class="w3-container w3-center">
        <h2 class="w3-padding-48" style="text-shadow:1px 1px 0 #444">AI自動撲接判斷剪輯&nbsp<i class="fa fa-scissors" aria-hidden="true"></i></h2>
      
        <div class="w3-card-4" style="width:100%">
            <div class="w3-container w3-center">
                <hr class="solid">
                <img src="model/Origin/game.png" style="padding-left: 5%;"/>

                <!-- <video width="512" height="350" controls>
                    <source src='../model/Origin/game.png' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                    Your browser does not support HTML5 video.
                </video> -->
                <hr class="solid">
                <div class="w3-row">
                    <div class="w3-col s12 w3-center">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp影片總長:<b>{{ori_vid_len}}</b>&nbsp&nbsp&nbsp&nbsp
                        <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp共<b>{{ori_vid_num}}</b>檔案
                    </div>
                </div>
            </div>

            <hr class="solid">
            <div class="w3-row">
                <div class="w3-col s6 w3-blue-gray w3-center">
                    <div class="w3-xlarge" style="text-shadow:1px 1px 0 #444">
                        <i class="fa fa-file-video-o" aria-hidden="true"></i>&nbsp自然語言分析&nbsp&nbsp&nbsp&nbsp↓
                    </div>
                </div>
                <div class="w3-col s6 w3-dark-grey w3-center">
                    <div class="w3-xlarge" style="text-shadow:1px 1px 0 #444">
                        <i class="fa fa-blind" aria-hidden="true"></i>&nbsp人物肢體骨架標點&nbsp&nbsp&nbsp&nbsp↓
                    </div>
                </div>
            </div>
            <hr class="solid">

            <div class="w3-row">
                <div class="w3-col s6 w3-center">
                    <div class="w3-container w3-center">
                        <!-- <video width="480" height="350" controls>
                            <source src="../model/NLP/display.mp4" type="video/mp4">
                            Your browser does not support HTML5 video.
                        </video> -->
                        <img width="480" height="350" src="model/NLP/NLP.png" />
                        <hr class="solid">
                        <div class="w3-row">
                            <div class="w3-col s12 w3-center">
                                <i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp每部影片總長:<b>{{nlp_ori_vid_len}}</b>&nbsp&nbsp&nbsp&nbsp
                                <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp共<b>{{nlp_ori_vid_num}}</b>檔案
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w3-col s6 w3-center">
                    <div class="w3-container w3-center">
                        <!-- <video width="480" height="350" controls>
                            <source src="../model/Mediapipe/display4.mp4" type="video/mp4">
                            Your browser does not support HTML5 video.
                        </video> -->
                        <img width="480" height="350" src="model/Mediapipe/media.png" />
                        <hr class="solid">
                        <div class="w3-row">
                            <div class="w3-col s12 w3-center">
                                <i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp每部影片總長:<b>{{skleton_ori_vid_len}}</b>&nbsp&nbsp&nbsp&nbsp
                                <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp共<b>{{skleton_ori_vid_num}}</b>檔案
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="solid">
            <div class="w3-row">
                <div class="w3-col s4  w3-light-gray w3-center">
                    <div class="w3-xxlarge">
                        <span style="padding-left: 45%;">
                            <i class="fa fa-spinner" aria-hidden="true"></i>&nbsp↓
                        </span>
                    </div>
                </div>
                <div class="w3-col s4 w3-pale-red w3-center">
                    <div class="w3-col s12 w3-light-gray w3-center">
                        <div class="w3-xxlarge" style="text-shadow:1px 1px 0 #444">
                            <i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp滑動視窗切割&nbsp<i class="fa fa-tachometer" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="w3-col s4 w3-light-gray w3-center">
                    <div class="w3-xxlarge">
                        <span style="padding-right: 45%;">
                            <i class="fa fa-spinner" aria-hidden="true"></i>&nbsp↓
                        </span>
                    </div>
                </div>
            </div>

            <div class="w3-container w3-center">
                <div class="w3-row">
                    <div class="w3-col s6 w3-center">
                        <hr class="solid">
                        <!-- <video width="480" height="350" controls>
                            <source src="../model/Sliding_Video/display.mp4" type="video/mp4">
                            Your browser does not support HTML5 video.
                        </video> -->
                        <img width="480" height="350" src="model/Sliding_Video/sli_vid.png" />
                        <hr class="solid">
                        <div class="w3-row">
                            <div class="w3-col s12 w3-center">
                                <i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp每部影片總長:<b>{{slice_video_ori_vid_len}}</b>&nbsp&nbsp&nbsp&nbsp
                                <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp共<b>{{slice_video_ori_vid_num}}</b>檔案
                            </div>
                        </div>
                    </div>
                    <div class="w3-col s6 w3-center">
                        <hr class="solid">
                        <!-- <video width="480" height="350" controls>
                            <source src="../model/Sliding_Skleton/display.mp4" type="video/mp4">
                            Your browser does not support HTML5 video.
                        </video> -->
                        <img width="480" height="350" src="model/Sliding_Skleton/sli_skl.png" />
                        <hr class="solid">
                        <div class="w3-row">
                            <div class="w3-col s12 w3-center">
                                <i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp每部影片總長:<b>{{slice_skleton_ori_vid_len}}</b>&nbsp&nbsp&nbsp&nbsp
                                <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp共<b>{{slice_skleton_ori_vid_num}}</b>檔案
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="solid">
            <div class="w3-row">
                <div class="w3-col s6 w3-purple w3-center">
                    <div class="w3-xlarge" style="text-shadow:1px 1px 0 #444">
                        <i class="fa fa-database" aria-hidden="true"></i>&nbsp3DCNN簡單分類&nbsp&nbsp&nbsp&nbsp↓
                    </div>
                </div>
                <div class="w3-col s6 w3-green w3-center">
                    <div class="w3-xlarge" style="text-shadow:1px 1px 0 #444">
                        <i class="fa fa-user" aria-hidden="true"></i>&nbspLSTM簡單分類&nbsp&nbsp&nbsp&nbsp↓
                    </div>
                </div>
            </div>

            <div class="w3-col s6 w3-center">
                <hr class="solid">
                <!-- <video width="480" height="350" controls>
                    <source src="../model/3DCNN/display.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video> -->
                <img width="480" height="350" src="model/3DCNN/3d.png" />
                <hr class="solid">
                <div class="w3-row">
                    <div class="w3-col s12 w3-center">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp每部影片總長:<b>{{cnn_vid_len}}</b>&nbsp&nbsp&nbsp&nbsp
                        <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp共<b>{{cnn_vid_num}}</b>檔案
                    </div>
                </div>
                <hr class="solid">
            </div>
            <div class="w3-col s6 w3-center">
                <hr class="solid">
                <!-- <video width="480" height="350" controls>
                    <source src="../model/GRU/display1.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video> -->
                <img width="480" height="350" src="model/GRU/GRU.png" />
                <hr class="solid">
                <div class="w3-row">
                    <div class="w3-col s12 w3-center">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp影片總長:<b>{{gru_ori_vid_len}}</b>&nbsp&nbsp&nbsp&nbsp
                        <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp共<b>{{gru_ori_vid_num}}</b>檔案
                    </div>
                </div>
                <hr class="solid">
            </div>

            <hr class="solid">
            <div class="w3-row">
                <div class="w3-col s6 w3-purple w3-center">
                    <div class="w3-xlarge" style="text-shadow:1px 1px 0 #444">
                        <i class="fa fa-cubes" aria-hidden="true"></i>&nbsp3DCNN學伴比對&nbsp&nbsp&nbsp&nbsp↓
                    </div>
                </div>
                <div class="w3-col s6 w3-green w3-center">
                    <div class="w3-xlarge" style="text-shadow:1px 1px 0 #444">
                        <i class="fa fa-users" aria-hidden="true"></i>&nbspLSTM學伴比對&nbsp&nbsp&nbsp&nbsp↓
                    </div>
                </div>
            </div>

            <div class="w3-col s6 w3-center">
                <hr class="solid">
                <!-- <video width="480" height="350" controls>
                    <source src="../model/Siamnese_3DCNN/全撲接18秒(2.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video> -->
                <img width="480" height="350" src="model/Siamnese_3DCNN/s_3dcnn.png" />
                <hr class="solid">
                <div class="w3-row">
                    <div class="w3-col s12 w3-center">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp影片總長:<b>{{s_cnn_ori_vid_len}}</b>&nbsp&nbsp&nbsp&nbsp
                        <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp共<b>{{s_cnn_ori_vid_num}}</b>檔案
                    </div>
                </div>
                <hr class="solid">
            </div>
            <div class="w3-col s6 w3-center">
                <hr class="solid">
                <!-- <video width="480" height="350" controls>
                    <source src="../model/Siamnese_GRU/display.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video> -->
                <img width="480" height="350" src="model/Siamnese_GRU/s_GRU.png" />
                <hr class="solid">
                <div class="w3-row">
                    <div class="w3-col s12 w3-center">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp影片總長:<b>{{s_gru_ori_vid_len}}</b>&nbsp&nbsp&nbsp&nbsp
                        <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp共<b>{{s_gru_ori_vid_num}}</b>檔案
                    </div>
                </div>
                <hr class="solid">
            </div>
            
            <div class="w3-row">
                <div class="w3-col s4 w3-pale-red w3-center">
                    <div class="w3-xxlarge">
                        <span style="padding-left: 45%;">
                            <i class="fa fa-spinner" aria-hidden="true"></i>&nbsp↓
                        </span>
                    </div>
                </div>
                <div class="w3-col s4 w3-pale-red w3-center">
                    <div class="w3-xxlarge" style="text-shadow:1px 1px 0 #444">
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>&nbsp總評分演算法&nbsp<i class="fa fa-star-half-o" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="w3-col s4 w3-pale-red w3-center">
                    <div class="w3-xxlarge">
                        <span style="padding-right: 45%;">
                            <i class="fa fa-spinner" aria-hidden="true"></i>&nbsp↓
                        </span>
                    </div>
                </div>
            </div>

            <hr class="solid">
            <div class="w3-container w3-center">
                <div class="w3-col s6 w3-center">
                    <!-- <video width="480" height="350" controls>
                        <source src="../model/Result/18秒全撲接(1.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video> -->
                    <img width="480" height="350" src="model/Result/res-18-1.png" />
                </div>
                <div class="w3-col s6 w3-center">
                    <!-- <video width="480" height="350" controls>
                        <source src="../model/Siamnese_3DCNN/全撲接18秒(2.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video> -->
                    <img width="480" height="350" src="model/Result/res-18-2.png" />
                </div>

                <div class="w3-row">
                    <hr class="solid">
                    <div class="w3-col s12 w3-teal w3-center">
                        <div class="w3-xlarge" style="text-shadow:1px 1px 0 #444">
                            <i class="fa fa-database" aria-hidden="true"></i>&nbspAI判讀撲接共計<b>{{res_ori_vid_num}}</b>筆&nbsp&nbsp&nbsp&nbsp
                            <button class="w3-button w3-teal w3-disabled">
                                <i class="fa fa-cloud-download" aria-hidden="true"></i>&nbsp影片下載&nbsp(愛爾達尚未授權)
                            </button>
                        </div>
                    </div>
                </div>
                <hr class="solid">
            </div>
        </div>

        <!-- Footer -->
        <footer class="w3-container w3-padding-32 w3-margin-top" style="background-color: aquamarine;">
            <div class="bottom">
              <div style="margin-top:10px; margin-right: 10px;"><img src="assets/ai-logo.png"></div>
              <div style="margin-top: 25px " > <img width="60%" src="assets/X.png"></div>
              <div style="margin-top: 10px;"> <img  width="200px" src="assets/ELTA.png"></div>
              <div style="margin-top: 25px ;margin-right: 10px;" > <img width="60%" src="assets/X.png"></div>
              <div style="margin-top: 20px;"> <img  width="200px" src="assets/in_your_self.png"></div>   
            </div>
        </footer>
    </div>
</div>
</body>
</html>