<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

.bottom{
  background-color: aquamarine;
  width: 100%;
  height: 50%; 
  flex-direction: row; 
  display: flex;
  justify-content: center
}

img{
  display: block; margin: 0 auto;
}
</style>
</head>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <div class="w3-card-4">
    <img width="100%" src="../assets/head.jpg">
  </div>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="../assets/team_member01.jpg" alt="Nature" style= "width:50%;display:block; margin:auto">
    <div class="w3-container">
      <h3><b>團隊成員介紹</b></h3>
      <h5>相關經驗資歷 <span class="w3-opacity"></span></h5>
    </div>

    <div class="w3-container">
      <p><li>淡江大學資工系特聘教授</li><br>
        <li>淡江大學工學院物聯網與大數據研究中心主任</li><br>
        <li>人工智慧概論書籍作者(全華出版社)</li><br>
        <li>參加第一、二、三屆AIGO獲得優等、佳作、特優等多個獎項</li><br>
        <li>參加黑客松人工智慧競賽獲獎</li><br>
        <li>經濟部專業人員研究中心之人工智慧講師</li><br>
        <li>TQC、電子電機公會、軟體協會之人工智慧講師</li><br>
        <li>軟體協會輔導廠商數位轉型之輔導老師</li><br>
        <li>人工智能公司、程曦資訊、敦陽資訊、叡揚資訊等顧問</li><br>
        <li>教育部教學實踐研究計畫複審委員</li><br>
        </p>
    </div>
  </div>
  <hr>

  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="../assets/team_member02.jpg" alt="Norway" style= "width:50%;display:block; margin:auto">
    <div class="w3-container">
      <h3><b>團隊成員介紹</b></h3>
      <h5>相關經驗資歷 <span class="w3-opacity"></span></h5>
    </div>

    <div class="w3-container">
      <p><li>熟悉深度學習TensorFlow、Keras、Google Colab 等平台</li><br>
        <li>熟悉自然語言處理技術</li><br>
        <li>熟悉深度學習演算法</li><br>
        <li>熟悉Python / Java 程式語言</li><br>
        <li>曾參加第三屆AIGO競賽</li></p>
    </div>
  </div>

  <div class="w3-card-4 w3-margin w3-white">
    <img src="../assets/team_member03.jpg" alt="Norway" style="width:50%;display:block; margin:auto">
    <div class="w3-container">
      <h3><b>團隊成員介紹</b></h3>
      <h5>相關經驗資歷 <span class="w3-opacity"></span></h5>
    </div>
  
    <div class="w3-container">
      <p><li>熟悉 Google Colab開發 </li><br>
      <li>熟悉網頁程式設計</li><br>
      <li>熟悉資料庫建立與管理</li><br>
      <li>熟悉Javascript程式語言開發</li></p>
    </div>
   </div>

  <div class="w3-card-4 w3-margin w3-white">
    <img src="../assets/team_member04.jpg" alt="Norway" style="width:50%;display:block; margin:auto">
    <div class="w3-container">
      <h3><b>團隊成員介紹</b></h3>
      <h5>相關經驗資歷 <span class="w3-opacity"></span></h5>
    </div>
      
    <div class="w3-container">
      <p><li>熟悉深度學習TensorFlow、Keras、Google Colab 等平台</li><br>
      <li>熟悉自然語言、NLP模型</li><br>
      <li>熟悉機器學習演算法</li><br>
      <li>熟悉深度學習演算法</li><br>
      <li>熟悉Python程式語言</li></p>
    </div>
  </div>

  <div class="w3-card-4 w3-margin w3-white">
        <img src="../assets/team_member05.jpg" alt="Norway" style="width:50%;display:block; margin:auto">
    <div class="w3-container">
      <h3><b>團隊成員介紹</b></h3>
      <h5>相關經驗資歷 <span class="w3-opacity"></span></h5>
    </div>
          
    <div class="w3-container">
      <p><li>熟悉Python程式語言</li><br>
      <li>熟悉Bert分類器</li><br>
      <li>熟悉自然語言與NLP</li></p>
    </div>
  </div>

  <div class="w3-card-4 w3-margin w3-white">
        <img src="../assets/team_member06.jpg" alt="Norway" style="width:50%;display:block; margin:auto">
    <div class="w3-container">
      <h3><b>團隊成員介紹</b></h3>
      <h5>相關經驗資歷 <span class="w3-opacity"></span></h5>
    </div>
          
    <div class="w3-container">
      <p><li>熟悉Python程式語言</li><br>
      <li>熟悉深度學習演算法</li><br>
      <li>熟悉自然語言處理技術</li><br></p>
    </div>
  </div>

  <div class="w3-card-4 w3-margin w3-white">
    <img src="../assets/team_member07.jpg" alt="Norway" style="width:50%;display:block; margin:auto">
    <div class="w3-container">
      <h3><b>團隊成員介紹</b></h3>
      <h5>相關經驗資歷 <span class="w3-opacity"></span></h5>
    </div>
      
    <div class="w3-container">
      <p><li>熟悉網頁爬蟲技術</li><br>
      <li>熟悉Python程式語言</li><br>
      <li>熟悉深度學習演算法</li><br>
      <li>熟悉自然語言處理技術</li><br>
      <li>熟悉深度學習TensorFlow、Keras、Google Colab 等平台</li></p>
    </div>
  </div>

  <div class="w3-card-4 w3-margin w3-white">
    <img src="../assets/team_member08.jpg" alt="Norway" style="width:50%;display:block; margin:auto">
    <div class="w3-container">
      <h3><b>團隊成員介紹</b></h3>
      <h5>相關經驗資歷 <span class="w3-opacity"></span></h5>
    </div>
      
    <div class="w3-container">
      <p><li>熟悉深度學習演算法</li><br>
      <li>熟悉Python程式語言</li><br>
      <li>熟悉機器學習與人工智慧模型</li></p>
    </div>
  </div>

  <div class="w3-card-4 w3-margin w3-white">
    <img src="../assets/team_member09.jpg" alt="Norway" style="width:50%;display:block; margin:auto">
    <div class="w3-container">
      <h3><b>團隊成員介紹</b></h3>
      <h5>相關經驗資歷 <span class="w3-opacity"></span></h5>
    </div>
      
    <div class="w3-container">
      <p><li>熟悉機器學習演算法</li><br>
      <li>熟悉自然語言處理技術</li><br>
      <li>熟悉深度學習TensorFlow、Keras、Google Colab 等平台</li><br>
    </div>
  </div>

  <div class="w3-card-4 w3-margin w3-white">
    <img src="../assets/team_member10.jpg" alt="Norway" style="width:50%;display:block; margin:auto">
    <div class="w3-container">
      <h3><b>團隊成員介紹</b></h3>
      <h5>相關經驗資歷 <span class="w3-opacity"></span></h5>
    </div>
      
    <div class="w3-container">
      <p><li>熟悉深度學習演算法</li><br>
      <li>熟悉Python程式語言</li><br>
      <li>熟悉機器學習與人工智慧模型</li><br>
    </div>
  </div>

  <div class="w3-card-4 w3-margin w3-white">
    <img src="../assets/introduce_01.png" alt="Norway" style="width:50%;display:block; margin:auto">
    <div class="w3-container">
      <h3><b>本團隊特色~科技部 AI 計畫案</b></h3>
      <h5> <span class="w3-opacity"></span></h5>
    </div>
      
    <div class="w3-container">
      <p><li>淡江大學物聯網與大數據中心主任</li><br>
      <li>科技部人工智慧相關產學案: 科技部109年度產學案~基於人工智慧之專案支援系統設計與實作(人工智能公司, MOST 109-2622-E-032 -001 -CC3)</li><br>
      <li>科技部人工智慧相關產學案: 科技部110年度產學案~以深度學習設計及實作「智慧語音查詢資料庫系統」(程曦資訊公司，MOST 110-2622-E-032 -002 -CC3)</li><br>
      <li>科技部人工智慧相關產學案: 設計與實作跨平臺機器人虛擬程式語言~以 Zenbo 機器人為實現案例(108-2622-E-032-002-CC3)</li><br>
      <li>科技部人工智慧相關產學案:「智慧城鄉生活應用補助計畫-創新服務類」之「第五代智能客服暨人機協作整合平臺開發計畫」</li>
    </div>
  </div>

  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h3><b>本團隊特色~一般產學合作</b></h3>
      <h5> <span class="w3-opacity"></span></h5>
    </div>
      
    <div class="w3-container">
      <p><li>一般產學合作:華碩「 AI影音相簿」專案</li><br>
      <li>一般產學合作:科洛達「大貨車行車AI判讀司機行車安全」專案</li><br>
      <li>一般產學案:程曦資訊「非對稱人臉辨識系統」</li><br>
      <li>一般產學案:宜鼎國際「PCB產線 AOI 瑕疵檢測」系統</li><br>
      <li>一般產學案:酷訊資訊 「手紋辨勢系統」專案(洽談中)</li><br>
      <li>一般產學案:酷訊資訊 「貨車駕駛行為AI自動分級」專案(洽談中)</li>
    </div>
  </div>

  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h3><b>本團隊特色~AIGO衍生利益</b></h3>
      <h5> <span class="w3-opacity"></span></h5>
    </div>
      
    <div class="w3-container">
      <p><li>因AIGO執行，協助內政部統計處擬定QA資料庫系統之招標規格書</li><br>
      <li>因AIGO執行，受邀至行政院主計總處演講，並談QA資料庫系統專案之合作。</li><br>
      <li>因AIGO競賽獲獎，獲淡江大學頒發競賽傑出獎，獎金每年五萬元</li><br>
      <li>因參與AIGO獲獎，間接影響獲頒技部獎勵特殊優秀人才(連續全校前三名)，2019~2021，並獲淡江大學聘任為 ”特聘教授”。</li>
    </div>
  </div>

  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h3><b>本團隊特色~產學績優與演講</b></h3>
      <h5> <span class="w3-opacity"></span></h5>
    </div>
      
    <div class="w3-container">
      <p><li>延伸 AIGO 合作專案，進行科技部產學案，獲「科技部技術研究發展司109 年度產學合作計畫成果發表暨績效考評會」產學成果簡報優良獎。</li><br>
      <li>因AIGO參與解題經驗豐富，獲邀學界及產業界演講，演講內容納入 AIGO 專案內容，每年在台灣至少25場，包括:</li>
      <ul><li>經濟部</li>
      <li>內政部</li>
      <li>Panasomic 公司</li>
      <li>華南營行</li>
      <li>電腦技能基金會</li>
      <li>電子電機公會</li>
      <li>土地銀行</li>
      <li>穩懋半導體、聯邦銀行、宏泰建設、宏盛集團、南僑化工</li>
      <li>台北商業大學、銘傳大學、文化大學、台北大學、元智大學等。</li>
      </ul>
    </div>
  </div>

  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h3><b>本團隊特色~實作經驗</b></h3>
      <h5> <span class="w3-opacity"></span></h5>
    </div>
      
    <div class="w3-container">
      <img src="../assets/table.png" style="width:100%;display:block; margin:auto" >
    </div>
  </div>
  
  <div class="w3-card-4 w3-margin w3-white">
    <img src="../assets/introduce_02.jpg" alt="Norway" style="width:100%;display:block; margin:auto">
    <div class="w3-container">
      <h3><b>本團隊特色~AIGO 獲獎</b></h3>
      <h5> <span class="w3-opacity"></span></h5>
    </div>
    <div class="w3-container">
      <li>參加過第一屆AIGO解題競賽:</li>
      <ul>
      <li>構想階段獲得優等獎。</li>
      <li>實證階段分別獲得優等與佳作。</li>
      </ul>
      <li>第二屆AIGO解題競賽，獲得傑出獎（第一名）。</li>
      <li>第三屆AIGO解題競賽，獲得特優獎（第一名）。</li>
      <li>本團隊參加逢甲大學舉辦黑客松大數據分析比賽第三名。</li>
    </div>
  </div>
  
  <div class="w3-card-4 w3-margin w3-white">
    <img src="../assets/introduce_03.png" alt="Norway" style="width:100%;display:block; margin:auto">
    <div class="w3-container">
      <h3><b>本團隊特色~閃電講與友誼賽</b></h3>
      <h5> <span class="w3-opacity"></span></h5>
    </div>
    <div class="w3-container">
      <li>第三屆AIGO受邀閃電講。</li>
      <li>內政部統計處語音資料查詢機器人友誼賽，獲得第一名。</li>
      <li>本團隊參加逢甲大學舉辦黑客松大數據分析比賽第三名。</li>
    </div>
  </div>

  <div class="w3-card-4 w3-margin w3-white">
    <img src="../assets/introduce_04.png" alt="Norway" style="width: 40%;display:block; margin:auto">
    <div class="w3-container">
      <h3><b>本團隊特色~閃電講與友誼賽</b></h3>
      <h5> <span class="w3-opacity"></span></h5>
    </div>
    <div class="w3-container">
      <li style="color:red">陽明交大半導體學院AI講師</li>
      <ul><li>新尖兵AI課程第一、第二、第三梯次</li></ul>
      <li style="color:blue">穩懋半導體 Python、深度學習等課程講師</li>
      <li style="color:red">人工智慧書籍(全華出版社)</li>
      <li style="color:blue">人工智慧素養與未來趨識書籍(全華出版社)</li>
      <li style="color:blue">電腦技能基金會AI證照之題庫出題，並培訓大專教師，協助非專業教師考取證照。</li>
    </div>
  </div>

  <div class="w3-card-4 w3-margin w3-white">
    <img src="../assets/introduce_05.jpg" alt="Norway" style="width: 100%;display:block; margin:auto">
    <div class="w3-container">
      <h3 style="color:blue"><b>MOOCs 課程、產業AI化影響力</b></h3>
      <h5> <span class="w3-opacity"></span></h5>
    </div>
    <div class="w3-container">
      <li>將AIGO產業案例融入 MOOCs 課程，發揮影響力！</li>
      <li>學習企業:</li>
      <ul>
        <li style="color:green">穩懋半導體公司</li>
        <li style="color:green">聯邦銀行</li>
        <li style="color:green">南僑化工公司</li>
        <li style="color:green">宏盛建設公司</li>
        <li style="color:green">宏泰集團</li>
        <li style="color:green">翰可國際公司</li>
        <li style="color:green">程曦資訊公司</li>
        <li style="color:green">人工智能公司</li>
      </ul>
    </div>
  </div>

  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        <h3 style="color:blue"><b>AIGO 專利</b></h3>
        <h5> <span class="w3-opacity"></span></h5>
      </div>
    <img src="../assets/introduce_06.jpg" width="100%" >
  </div>
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding w3-center">
      <h4>淡江大學介紹</h4>
      <hr class="solid">
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <a href="https://www.tku.edu.tw/"><span class="w3-large">淡江大學</span></a>
        <br>
      </li>
      <li class="w3-padding-16">
        <a href="http://www.csie.tku.edu.tw/main.aspx"><span class="w3-large">資訊工程學系</span></a>
        <br>
      </li> 
      <li class="w3-padding-16">
        <a href="http://www.csie.tku.edu.tw/Front/Member/Fulltime/Members.aspx?id=QtntyBGmS1k="><span class="w3-large">專任教師團隊</span></a>
        <br>
      </li>   
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <a href="http://www.csie.tku.edu.tw/Front/research/cvdl/Page.aspx?id=V7w9ciN%2BX1M="><span class="w3-large">人工智慧與產業技術實驗室</span></a>
        <br>
      </li>  
    </ul>
  </div>
  <hr> 
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-margin-top" style="background-color: aquamarine;">
  <div class="bottom">
    <div style="margin-top:10px; margin-right: 10px;"><img src="../assets/ai-logo.png"></div>
    <div style="margin-top: 25px " > <img width="60%" src="../assets/X.png"></div>
    <div style="margin-top: 10px;"> <img  width="200px" src="../assets/ELTA.png"></div>
    <div style="margin-top: 25px ;margin-right: 10px;" > <img width="60%" src="../assets/X.png"></div>
    <div style="margin-top: 20px;"> <img  width="200px" src="../assets/in_your_self.png"></div>   
  </div>
</footer>

</body>
</html>
